<!-- app/views/astros/index.html.erb -->
<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div class="cards mx-5" id="astros" data-infinite-scroll-target="entries">
    <%= render 'posts' %>
  </div>
  <div class="pag-bar mt-5 pt-5" data-infinite-scroll-target="pagination">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
